.contacts {
  padding-bottom: 7vw;
}

.contacts__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin: 0 0 30px;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7vw;
  margin: 0 0 7vw;
}

.contacts__img {
  min-height: 350px;
  height: 100%;
  margin: 0 auto;
}

.contacts__wrap-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts__info-title {
  margin: 0 0 8px 0;
  color: rgba(36, 36, 36, 0.50);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.contacts__info-link {
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  & svg {
    width: 16px;
    height: 20px;
    flex-shrink: 0;
  }
}

.contacts__info-text {
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.contacts__map-img {
  height: 300px;
}

.contacts__btn {
  width: 230px;
  margin-top: auto;
}

.contacts__btn--bg-lilac {
  background-color: $color-lilac;
  color: $color-white;
}

@media (max-width: 800px) {
  .contacts__wrap-info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .contacts__wrap {
    grid-template-columns: 1fr;
  }

  .contacts__info-title {
    margin: 0 auto;
  }

  .contacts__btn {
    margin: 0 auto;
  }

  .contacts__img {
    min-height: 200px;
  }
}