.main-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-nav__item {
    border-radius: 50%;
    padding: 5px 15px;
    outline: none;
    transition: background-color .4s ease-in-out, outline .4s ease-in-out;

    & a:focus-visible {
        outline: 2px solid lighten($color-lilac, 20%);
        outline-offset: 5px;
        border-radius: 40%;
    }

    &:hover {
        background-color: $color-lilac;
    }

    &:active {
        background-color: darken($color-lilac, 10%);
    }
}

@media (max-width: 560px) {
    .main-nav {
        gap: 20px;
    }
}