.aside-nav {
    padding: 2vw;
    background-color: #fff;
    border-radius: 16px;
}

.aside-nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.aside-nav__link {
    display: flex;
    align-items: center;
}

.aside-nav__link svg {
    margin-right: 10px;
}

.aside-nav__link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.aside-nav__link--violet .aside-nav__link-text {
    font-weight: 700;
    color: #9E5FC4;
}