.cards-season {
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.cards-season__bali {
    grid-row: span 2;
}

.cards-season__feedback {
    grid-column: span 2;
}

@media (max-width: 720px) {
    .cards-season {
        grid-template-columns: 50% 50%;
    }

    .cards-season__bali {
        grid-column: span 2;
    }
}


@media (max-width: 420px) {
    .cards-season {
        grid: none;
        display: flex;
        flex-direction: column;
    }
}