.cards-tour {
    max-width: 100%;
    min-height: 1600px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 380px auto 380px;
}

.cards-tour__item--size-XL {
    grid-column: span 2;
}



@media (max-width: 850px) {
    .cards-tour {
        grid-template-columns: 50% 50%;
    }

    .cards-tour__item--size-XL {
        grid-column: span 1;
    }
}

@media (max-width: 550px) {
    .cards-tour {
        grid: none;
        display: flex;
        flex-direction: column;
    }
}