.memos {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.memos__wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.memos__link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F6EEFB;
    border-radius: 20px;
    padding: 23px 20px;
}

.memos__title {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.memos__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.memos__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.memos__btn {
    margin-bottom: 7px;
}

.memos__text {
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.memos__text-sm {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: rgba(36, 36, 36, 0.5);
}

@media (max-width: 700px) {
    .memos__wrap {
        flex-wrap: wrap;
    }
}