.security {
    padding-bottom: 80px;
}

.security__wrap {
    display: grid;
    grid-template-columns: 1fr 290px;
    gap: 180px;
    margin-bottom: 60px;
}


.security__title {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.security__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.security__text-mb {
    margin-bottom: 20px;
}

.security__text-XL {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px 0;
}

.security__text-list {
    margin: 0;
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


